{%extends "base.html"%}
{%block title %}Home{%endblock%}

{%block content%}

<h1>{{room.roomName}}</h1>
<h2>Hello, {{user.username}}</h2>

<br>

<p>Members</p>
{% for user in room.users%}
<li class="list-group-item">
    {{user.username}}
</li>
{%endfor%}

<br>

<p>First, authenticate your google account and then blend to get recommendations.</p>

<a class="nav-item nav-link" id ="blend" href="/oauth2callback">Authenticate</a>
<a class="nav-item nav-link" id ="blend" href="/blend">Blend</a>


<p>The blend might take a few minutes for the first time.Thanks! Enjoy Moth Music.</p>


<p>To improve your recommendations consider updating your liked videos on your youtube account</p>

{%endblock%}